<html>
    <head>
        <link href="~/style.css" rel="stylesheet"/>
    </head>
    <body>
        <main>
            <div class="cover">
                <div class="logoDiv">
                    <h1 class="logo">TIME</h1>
                </div>
                
                <form method="post">
                    <h3>Search for Time Persons by Year</h3>
                    <label>Start Year
                        <input name="startYear" type="number" />
                    </label>

                    <label>End Year
                        <input name="endYear" type="number" />
                    </label>
                    <button type="submit">Search</button>
                </form>
            </div>
        </main>
    </body>
</html>


