<html>
    <head>
        <link href="~/style.css" rel="stylesheet"/>
    </head>
    <body>
        <main>
            <div class="cover">
                    <h1 class="logo">TIME</h1>
                    <form method="post">
                        <label name="startYear">Start Year</label>
                        <input name="startYear" default="0"/>

                        <label name="endYear">End Year</label>
                        <input name="endYear" default ="3000"/>
                        <button type="submit">Search</button>
                    </form>
            </div>
        </main>
    </body>
</html>


